
    <div class="mt-5">
        <form asp-controller="Search" asp-action="Index" method="get">
            <div class="col-md-12">
                <textarea class="form-control" id="searchbar" name="query" rows="1" placeholder="Paieška"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-block" id="search">Ieškoti</button>
            <button type="button" class="btn btn-secondary btn-block" id="filter">Filtruoti</button>
            <a class="btn btn-secondary" asp-controller="History" asp-action="Index">Istorija</a>
        </form>
        
    </div>



    @model List<SkelbimuIS.Models.Ad>
    <div class="container mt-5">
        <h1 class="mb-4">Visi skelbimai</h1>
        <div class="row">
            <div class="col-12 mb-4">

                @if (Model != null && Model.Any())
                {
                    @foreach (var ad in Model)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@ad.pavadinimas</h5>
                                <p class="card-text"><strong>Ivertis:</strong> @ad.ivertis</p>
                                <p class="card-text"><strong>Kategorija:</strong> @ad.kategorija</p>
                                <p class="card-text"><strong>Kaina:</strong> @ad.kaina</p>

                                <a class="btn btn-primary" asp-controller="Ad" asp-action="ViewAd" asp-route-AdId="@ad.id"> Atidaryti</a>
                                <a class="btn btn-primary" asp-controller="Ad" asp-action="EditAd" asp-route-id="@ad.id"> Redaguoti</a>
                                <button class="btn btn-danger" data-ad-id="@ad.id" onclick="confirmDelete(this)">Ištrinti</button>
                                <button class="btn btn-warning">Pridėti į mėgstamus</button>
                                <button class="btn btn-success">Įvertinti</button>
                                <script>
                                    function confirmDelete(button) {
                                        var adId = button.getAttribute('data-ad-id');

                                        var result = confirm("Ar tikrai norite ištrinti šį skelbimą?");

                                        if (result) {
                                            deleteAd(adId);
                                        }
                                    }

                                    function deleteAd(adId) {
                                        $.ajax({
                                            url: '/Home/DeleteAd',
                                            type: 'POST',
                                            data: { AdId: adId },
                                            success: function (data) {
                                                var result = confirm("Skelbimass sėkmingai ištrintas");
                                                location.reload();
                                            },
                                            error: function (error) {
                                                console.error('Error deleting ad:', error);
                                                showMessage('Įvyko klaida trinant skelbimą.');
                                            }
                                        });
                                    }
                                </script>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No ads available.</p>
                }
            </div>
        </div>
    </div>