
    <div class="mt-5">
        <form asp-controller="Search" asp-action="Index" method="get">
            <div class="col-md-12">
                <textarea class="form-control" id="searchbar" name="query" rows="1" placeholder="Paieška"></textarea>
            </div>

            <div class="row mt-2">
                <div class="col-sm">
                  <input type="text" class="form-control" id="priceFrom" name="priceFrom" placeholder="Kaina nuo">
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" id="priceTo" name="priceTo" placeholder="Kaina iki">
                </div>
                <div class="col-sm">
                   <select class="form-select" id="city" name="city">
                        <option value="" disabled selected>Miestas</option>
                        <option value="Vilnius">Vilnius</option>
                        <option value="Kaunas">Kaunas</option>
                        <option value="Klaipėda">Klaipėda</option>
                        <option value="Ukmergė">Ukmergė</option>
                    </select>
                </div>
                <div class="col-sm">
                   <select class="form-select" id="category" name="category">
                        <option value="" disabled selected>Kategorija</option>
                        <option value="Įrenginiai">Įrenginiai</option>
                        <option value="Rūbai">Rūbai</option>
                        <option value="Baldai">Baldai</option>
                        <option value="Knygos">Knygos</option>
                    </select>
                </div>
            </div>
            
  
            <button type="submit" class="btn btn-primary btn-block mt-2" id="search">Ieškoti</button>
            <a class="btn btn-secondary mt-2" asp-controller="History" asp-action="Index">Istorija</a>
        </form>
        
    </div>

    <div class="container mt-5">
        <h1 class="mb-4">Rekomenduojami skelbimai Jums</h1>

            @foreach (var ad in Model.recommendedAds)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@ad.pavadinimas</h5>
                        <p class="card-text"><strong>Ivertis:</strong> @ad.ivertis</p>
                        <p class="card-text"><strong>Kategorija:</strong> @ad.kategorija</p>
                        <p class="card-text"><strong>Kaina:</strong> @ad.kaina</p>

                        <a class="btn btn-primary" asp-controller="Ad" asp-action="ViewAd" asp-route-AdId="@ad.id"> Atidaryti</a>
                        <a class="btn btn-primary" asp-controller="Ad" asp-action="EditAd" asp-route-id="@ad.id"> Redaguoti</a>
                        <button class="btn btn-danger" data-ad-id="@ad.id" onclick="confirmDelete(this)">Ištrinti</button>
                        @if(ad.megst)
                        {
                            <a class="btn btn-secondary" asp-controller="Home" asp-action="RemoveAdFromFavourites" asp-route-AdId="@ad.id">Pašalinti iš mėgstamų</a>
                        }
                        else
                        {
                            <a class="btn btn-warning" asp-controller="Home" asp-action="AddAdToFavourites" asp-route-AdId="@ad.id">Pridėti į mėgstamus</a>
                        }
                            
                    </div>
                </div>
            }
    </div>


 
    <div class="container mt-5">
        <h1 class="mb-4">Visi skelbimai</h1>
        <div class="row">
            <div class="col-12 mb-4">

                @if (Model != null)
                {
                    @foreach (var ad in Model.ads)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@ad.pavadinimas</h5>
                                <p class="card-text"><strong>Ivertis:</strong> @ad.ivertis</p>
                                <p class="card-text"><strong>Kategorija:</strong> @ad.kategorija</p>
                                <p class="card-text"><strong>Kaina:</strong> @ad.kaina</p>

                                <a class="btn btn-primary" asp-controller="Ad" asp-action="ViewAd" asp-route-AdId="@ad.id"> Atidaryti</a>
                                <a class="btn btn-primary" asp-controller="Ad" asp-action="EditAd" asp-route-id="@ad.id"> Redaguoti</a>
                                <button class="btn btn-danger" data-ad-id="@ad.id" onclick="confirmDelete(this)">Ištrinti</button>
                                @if(ad.megst)
                                {
                                    <a class="btn btn-secondary" asp-controller="Home" asp-action="RemoveAdFromFavourites" asp-route-AdId="@ad.id">Pašalinti iš mėgstamų</a>
                                }
                                else
                                {
                                    <a class="btn btn-warning" asp-controller="Home" asp-action="AddAdToFavourites" asp-route-AdId="@ad.id">Pridėti į mėgstamus</a>
                                }
                            <button class="btn btn-success">Įvertinti</button>
                                <script>
                                    function confirmDelete(button) {
                                        var adId = button.getAttribute('data-ad-id');

                                        var result = confirm("Ar tikrai norite ištrinti šį skelbimą?");

                                        if (result) {
                                            deleteAd(adId);
                                        }
                                    }

                                    function deleteAd(adId) {
                                        $.ajax({
                                            url: '/Home/DeleteAd',
                                            type: 'POST',
                                            data: { AdId: adId },
                                            success: function (data) {
                                                var result = confirm("Skelbimass sėkmingai ištrintas");
                                                location.reload();
                                            },
                                            error: function (error) {
                                                console.error('Error deleting ad:', error);
                                                showMessage('Įvyko klaida trinant skelbimą.');
                                            }
                                        });
                                    }
                                </script>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No ads available.</p>
                }
            </div>
        </div>
    </div>