<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Listing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="mt-5">
        <div class="row">
            <div class="col-md-10">
                <textarea class="form-control" id="searchbar" rows="1" placeholder="Paieška"></textarea>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-secondary btn-block" id="filter">Filtruoti</button>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-secondary btn-block" id="search">Ieškoti</button>
            </div>
        </div>
    </div>

    @model List<SkelbimuIS.Models.Ad>
    <div class="container mt-5">
        <h1 class="mb-4">Visi skelbimai</h1>
        <div class="row">
            <div class="col-12 mb-4">

                @if (Model != null && Model.Any())
                {
                    @foreach (var ad in Model)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@ad.pavadinimas</h5>
                                <p class="card-text"><strong>Ivertis:</strong> @ad.ivertis</p>
                                <p class="card-text"><strong>Kategorija:</strong> @ad.kategorija</p>
                                <p class="card-text"><strong>Kaina:</strong> @ad.kaina</p>

                                <a class="btn btn-primary" asp-controller="Ad" asp-action="ViewAd" asp-route-AdId="@ad.id"> Atidaryti</a>
                                <a class="btn btn-primary" asp-controller="Ad" asp-action="EditAd" asp-route-id="@ad.id"> Redaguoti</a>
                                <button class="btn btn-danger">Ištrinti</button>
                                <button class="btn btn-warning">Pridėti į mėgstamus</button>
                                <button class="btn btn-success">Įvertinti</button>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No ads available.</p>
                }
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
