<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skelbimas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
@model SkelbimuIS.Models.Ad
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Skelbimas: @Model.pavadinimas</h1>

        <!-- Single Ad Details -->
        <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>Skelbimo aprašymas:</strong> @Model.aprasas</p>
                <p class="card-text"><strong>Kategorija:</strong> @Model.kategorija</p>
                <p class="card-text"><strong>Kaina:</strong> @Model.kaina </p>
                <p class="card-text"><strong>Ivertis:</strong> @Model.ivertis </p>
                <p class="card-text"><strong>Miestas:</strong> @Model.miestas </p>
                <p class="card-text"><strong>Įkelimo data:</strong> @Model.data </p>
            </div>
        </div>

        <h1 class="mb-4">Pardavėjo informacija:</h1>

        <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>e-paštas:</strong> @Model.pastas</p>
                <p class="card-text"><strong>Telefono numeris:</strong> @Model.numeris</p>
                <p class="card-text"><strong>Reputacija:</strong> @Model.reputacija </p>
            </div>
        </div>

        <div class="mt-5">
            <h2>Komentarai</h2>
            <div class="mb-3">
                <label for="comment" class="form-label">Rašyti komentarą</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="Jūsų komentaras"></textarea>
            </div>
            <button type="button" class="btn btn-secondary" id="postComment">Paskelbti</button>
        </div>

        <div>
            <a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Index">Grįžti</a>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>